<nav
  class="hidden md:block bg-white border-b-[0.4px] border-smooth-gray sticky top-0 z-50"
>
  <div>
    <div
      class="hidden md:block absolute z-51 ml-[6vw] top-0 h-screen border-r-[0.4px] border-smooth-gray"
    ></div>
    <div
      class="hidden md:block right-0 absolute z-51 mr-[6vw] top-0 h-screen border-l border-smooth-gray"
    ></div>
    <div
      class="md:hidden absolute h-full z-51 ml-[25vw] border-r-[0.4px] border-smooth-gray"
    ></div>
    <div
      class="md:hidden absolute right-0 h-full z-51 mr-[25vw] border-r-[0.4px] border-smooth-gray"
    ></div>
  </div>

  <div
    class="ml-[7vw] grid grid-cols-8 mr-[7vw] py-[22px] text-[12px] leading-[20px] lg:text-[16px]"
  >
    <p
      class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
    >
      <button class="nav-button" onclick="window.location.href='Notice.html'">
        お知らせ
      </button>
    </p>
    <p
      class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
    >
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.open('https://toreta.in', '_blank')"
      >
        ご予約
      </button>
    </p>
    <p
      class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
    >
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Menu.html'"
      >
        メニュー
      </button>
    </p>
    <div
      class="flex justify-center items-center col-span-2 hover: cursor-pointer"
      onclick=" window.location.href='../index.html'"
    >
      <p
        class="text-[20px] leading-[30px] text-center lg:text-[26px] lg:leading-[36px]"
      >
        森のビュッフェ <br />
        <span class="tracking-[20px]">SUN</span>
      </p>
    </div>
    <p
      class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
    >
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Infor.html'"
      >
        店舗情報
      </button>
    </p>
    <p
      class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
    >
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Inside.html'"
      >
        店内案内
      </button>
    </p>
    <p
      class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
    >
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Contact.html'"
      >
        お問い合わせ
      </button>
    </p>
  </div>
</nav>
<nav
  class="md:hidden bg-white border-b-[0.4px] border-smooth-gray sticky top-0 z-50 grid grid-cols-4 relative"
>
  <!-- Left -->
  <div
    class="flex items-center justify-center border-r-[0.4px] border-smooth-gray"
  >
    <p class="p-[3px] flex justify-center items-center">
      <button
        class="nav-button text-[12px]"
        onclick="window.open('https://toreta.in', '_blank')"
      >
        ご予約
      </button>
    </p>
  </div>

  <!-- Center -->
  <div
    class="flex justify-center items-center col-span-2 py-[15px] cursor-pointer"
    onclick=" window.location.href='../index.html'"
  >
    <p class="text-[12px] leading-[20px] text-center">
      森のビュッフェ <br />
      <span class="tracking-[9px]">SUN</span>
    </p>
  </div>

  <!-- Right Hamburger -->
  <div class="flex justify-center items-center border-l border-smooth-gray">
    <button
      id="menu-btn"
      class="relative w-20 h-12 flex flex-col justify-center items-center group"
    >
      <span
        class="block w-[44px] h-[1px] bg-gray-800 mb-1 transition-transform duration-300 origin-center group-[.open]:rotate-45 group-[.open]:translate-y-[3.2px] group-[.open]:skew-x-5"
      ></span>

      <span
        class="block w-[44px] h-[1px] bg-gray-800 transition-transform duration-300 origin-center group-[.open]:-rotate-45 group-[.open]:-translate-y-[3.2px] group-[.open]:-skew-x-5"
      ></span>
    </button>
  </div>

  <!-- Dropdown -->
  <div
    id="dropdown"
    class="hidden absolute right-0 mt-[71px] z-50 w-1/2 bg-gray-200 overflow-hidden max-h-0 transition-all duration-500 ease-in-out"
  >
    <div class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]">
      <button class="nav-button" onclick="window.location.href='Notice.html'">
        お知らせ
      </button>
    </div>
    <div class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]">
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Menu.html'"
      >
        メニュー
      </button>
    </div>
    <div class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]">
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Infor.html'"
      >
        店舗情報
      </button>
    </div>
    <div class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]">
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Inside.html'"
      >
        店内案内
      </button>
    </div>
    <div class="p-[3px] flex justify-center items-center h-[50px] my-[10px]">
      <button
        class="nav-button flex justify-center items-center"
        onclick="window.location.href='Contact.html'"
      >
        お問い合わせ
      </button>
    </div>
  </div>
</nav>
